.App {
  text-align: center; }
  .App button {
    background-color: white;
    cursor: pointer;
    border: 1px solid indigo;
    padding: 1em;
    outline: none;
    transition: all 0.3s; }
    .App button:hover {
      background-color: indigo;
      color: white; }

ul {
  padding: 0; }
